/* styles.css */

html {
	font-family: Courier New, monospace;
	line-height: 1.15;
}

body {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	background-color: #EEEFFF;
}

h1 { text-align: center }

#credit {
	font-size: 0.8em;
	text-align: center;
}

#image-container {
	margin: 0 2%;
	display: flex;
	flex-direction: column;
}

#random-image {
	min-width: 640px;
	max-width: 640px;
	margin: 0 auto;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
	width: 320px;
	padding: 2%;
	margin: 2% auto 0;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Courier New, monospace;
	font-size: 1.2em;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-style: none;
	background-color: #00AAFF;
	color: #FFF;
}

button:hover {
	color: #00AAFF;
	background-color: #FFF;
}

button:active {
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

footer {
	text-align: center;
	align-self: flex-end;
	margin: 2% auto 0;
}
